/*

!/bin/
!/src/

!/.config/
!/.gemini/
!/.gnupg/
!/.icons/
!/.local/
!/.ssh/

!/.bash_profile
!/.bashrc
!/.calfrc
!/.dircolors
!/.gitignore
!/.gitmodules
!/.gtkrc-2.0
!/.inputrc
!/.profile
!/.shrc
!/.xbindkeysrc.scm
!/.xinitrc
!/.Xresources
!/.xsession
!/.xsessionrc
