[submodule "elpa"]
	path = elpa
	url = https://github.com/darkfeline/home-emacs-elpa-public.git
[submodule "borg"]
	path = lib/borg
	url = https://github.com/emacscollective/borg.git
[submodule "closql"]
	path = lib/closql
	url = https://github.com/emacscollective/closql.git
[submodule "easydraw"]
	path = lib/easydraw
	url = https://github.com/misohena/el-easydraw.git
[submodule "emacsql"]
	path = lib/emacsql
	url = https://github.com/skeeto/emacsql.git
	no-byte-compile = emacsql-pg.el
[submodule "epkg"]
	path = lib/epkg
	url = https://github.com/emacscollective/epkg.git
[submodule "ghub"]
	path = lib/ghub
	url = https://github.com/magit/ghub.git
[submodule "gn-mode"]
	path = lib/gn-mode
	url = https://github.com/lashtear/gn-mode.git
[submodule "go-dlv"]
	path = lib/go-dlv
	url = https://github.com/benma/go-dlv.el.git
[submodule "go-mode"]
	path = lib/go-mode
	url = https://github.com/darkfeline/go-mode.el.git
	remote = "upstream https://github.com/dominikh/go-mode.el.git"
[submodule "graphviz-dot-mode"]
	path = lib/graphviz-dot-mode
	url = https://github.com/ppareit/graphviz-dot-mode.git
[submodule "ialign"]
	path = lib/ialign
	url = https://github.com/mkcms/interactive-align.git
[submodule "ipcalc"]
	path = lib/ipcalc
	url = https://github.com/dotemacs/ipcalc.el.git
[submodule "jq-mode"]
	path = lib/jq-mode
	url = https://github.com/ljos/jq-mode.git
[submodule "libgit"]
	path = lib/libgit
	url = https://github.com/magit/libegit2.git
[submodule "llama"]
	path = lib/llama
	url = https://github.com/tarsius/llama.git
[submodule "lua-mode"]
	path = lib/lua-mode
	url = https://github.com/immerrr/lua-mode.git
[submodule "protobuf-mode"]
	path = lib/protobuf-mode
	url = https://github.com/emacsmirror/protobuf-mode.git
[submodule "puppet-mode"]
	path = lib/puppet-mode
	url = https://github.com/voxpupuli/puppet-mode.git
[submodule "reintegrate"]
	path = lib/reintegrate
	url = https://github.com/darkfeline/emacs-reintegrate.git
[submodule "treepy"]
	path = lib/treepy
	url = https://github.com/volrath/treepy.el.git
[submodule "vc/jakuri"]
	path = vc/jakuri
	url = https://github.com/darkfeline/jakuri-elisp.git
[submodule "vc/magit"]
	path = vc/magit
	url = https://github.com/darkfeline/magit.git
