# GNU Readline config.
# Re-read config with C-x C-r.
$include /etc/inputrc

set active-region-start-color \e[0;44m
set active-region-end-color \e[0m
set bell-style visible
set blink-matching-paren on
set colored-completion-prefix on
set colored-stats on
set completion-display-width 80
set mark-modified-lines on
set prefer-visible-bell on
set show-all-if-ambiguous on
set skip-completed-text on
set visible-stats on

$if term=dumb
set enable-bracketed-paste off
$endif
