! xterm
XTerm.vt100.locale: false
XTerm.vt100.utf8: true
XTerm.vt100.scrollTtyOutput: false
XTerm.vt100.scrollKey: true
XTerm.vt100.bellIsUrgent: true
XTerm.vt100.metaSendsEscape: true
XTerm.vt100.faceName: Source Code Pro
XTerm.vt100.faceSize: 11

! Xcursor
Xcursor.theme: Breeze-Contrast
