* {
  min-height: 0px;
}

#waybar {
  font-family: "Source Code Pro";
  font-size: 14px;
  background: #444444;
  color: #ffffff;
}

#battery, #clock, #cpu, #load, #memory, #mpd, #network, #temperature, #tray {
  padding: 0px 4px;
  border-radius: 5px;
  background: #666666;
  margin: 0px 2px;
}

#battery.warning {
  background: #ffaaaa;
}

/* Hyprland */
#workspaces {
  border-radius: 5px;
  background: #dddddd;
  color: #000000;
}

#workspaces button.active {
  background: #aa88ff;
}

#workspaces button.urgent {
  background: #ffaaaa;
}

#window {
  padding: 0 10px;
  border-radius: 5px;
}
