/*

!/alacritty/
!/awesome/
!/containers/
!/dunst/
!/dconf/
!/emacs/
!/environment.d/
!/fontconfig/
!/gammastep/
!/git/
!/hypr/
!/jj/
!/logrotate/
!/mpd/
!/redshift/
!/swaylock/
!/systemd/
!/waybar/
!/xdg-desktop-portal/
