/*

!/alacritty/
!/awesome/
!/cava/
!/containers/
!/dunst/
!/dconf/
!/emacs/
!/environment.d/
!/fontconfig/
!/gammastep/
!/ghostty/
!/git/
!/home-manager/
!/hypr/
!/jj/
!/kanshi/
!/logrotate/
!/mpd/
!/niri/
!/shpool/
!/swaylock/
!/systemd/
!/waybar/
!/xdg-desktop-portal/

!/mpv
!/user-dirs.dirs
